body {background-color: #d6eebc;background-image: url(images/bj.jpg);background-repeat: repeat-y;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-position: center top;
	color: #636363;
	font-family: "ËÎÌå";
	font-size: 12px;
}
a:link {
	color: #636363;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #636363;
}
a:active {
	text-decoration: none;
}
ul {
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	list-style-type: none;
}
li {
	line-height: 20px;
}
#top {
	background-image: url(images/bj_1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 28px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	clear: both;
}
.top {
	width: 920px;
	line-height: 28px;
	height: 28px;
	margin-right: auto;
	margin-left: auto;
	color: #006600;
}
h1{
	float: left;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
.gjc {
	float: right;
}
.header {
	background-image: url(images/bj_2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 322px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.nav {
	background-image: url(images/bj_3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 59px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.nav ul {
	height: 40px;
	width: 930px;
	margin-right: auto;
	margin-left: auto;
}
.nav li {
	float: left;
	line-height: 37px;
	color: #FFFFFF;
	height: 40px;
	width: 154px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}
.nav li a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.nav li a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.nav li a:visited {
	color: #FFFFFF;
}
.main_1 {
	height: 392px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
}
.m1_l {
	float: left;
	height: 392px;
	width: 310px;
}
.m1_l_img {
	height: 360px;
	width: 308px;
	border: 1px solid #7DC12C;
}
.m1_l_tit {
	font-size: 14px;
	line-height: 30px;
	background-image: url(images/m1_l_tit.jpg);
	height: 30px;
	width: 310px;
	text-align: center;
	color: #FFFFFF;
	background-repeat: no-repeat;
}
.m1_r {
	float: left;
	height: 392px;
	width: 645px;
	padding-left: 15px;
}
.m1_r_tit {
	line-height: 31px;
	background-image: url(images/m1_r_tit.jpg);
	background-repeat: no-repeat;
	height: 31px;
	width: 645px;
	color: #567555;
}
.m1_r_tit .l {
	float: left;
	padding-left: 25px;
}
.m1_r_tit .r {
	float: right;
	padding-right: 70px;
}
.m1_r_banner {
	height: 93px;
	width: 645px;
}
.m1_r_con {
	background-image: url(images/m1_r_con.jpg);
	background-repeat: no-repeat;
	height: 203px;
	width: 645px;
}
.m1_r_con .l {
	font-size: 14px;
	text-align: center;
	float: left;
	width: 20px;
	padding-top: 10px;
	color: #567555;
	padding-right: 7px;
	padding-left: 7px;
	height: 193px;
}
.m1_r_con .r {
	float: left;
	width: 571px;
	height: 190px;
	font-size: 14px;
	line-height: 25px;
	padding-top: 12px;
	padding-left: 29px;
	padding-right: 10px;
}
.m1_r_b {
	height: 52px;
	width: 485px;
	margin-top: 13px;
	background-image: url(images/m1_r_b.jpg);
	background-repeat: no-repeat;
	padding-left: 160px;
}
.m1_r_b div {
	font-size: 14px;
	color: #567555;
	float: left;
	line-height: 52px;
	width: 87px;
	text-align: center;
	padding-left: 7px;
}
.main_2 {
	background-image: url(images/main_2.jpg);
	background-repeat: no-repeat;
	height: 439px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
}
.m2_tit {
	line-height: 44px;
	padding-left: 56px;
	font-size: 14px;
	color: #567555;
	padding-top: 6px;
	height: 44px;
	width: 914px;
}
.m2_con {
	height: 389px;
	width: 970px;
}
.m2_l {
	float: left;
	width: 245px;
	padding-left: 40px;
	height: 389px;
	padding-right: 15px;
}
.m2_1 {
	height: 85px;
	width: 245px;
	padding-top: 40px;
	line-height: 18px;
}
.m2_1 strong {
	font-size: 14px;
	color: #318525;
}
.m2_2 {
	height: 80px;
	width: 245px;
	padding-top: 37px;
	line-height: 18px;
}
.m2_2 strong {
	color: #318525;
	font-size: 14px;
}
.m2_3 {
	height: 80px;
	width: 245px;
	padding-top: 38px;
	line-height: 18px;
}
.m2_3 strong {
	font-size: 14px;
	color: #318525;
}
.m2_c {
	float: left;
	width: 260px;
	padding-left: 50px;
	height: 389px;
}
.m2_c_1 {
	height: 220px;
	width: 260px;
}
.cp_img {
	padding-top: 30px;
	text-align: center;
}
.cp_c_1tit {
	font-size: 14px;
	text-align: center;
	color: #4B673F;
	line-height: 25px;
}
.m2_4 {
	line-height: 18px;
	padding-top: 60px;
	padding-right: 30px;
	padding-left: 30px;
}
.m2_4 strong {
	color: #318525;
	font-size: 14px;
}
.m2_r {
	float: left;
	padding-left: 80px;
	height: 389px;
	width: 250px;
}
.main_3 {
	height: 303px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
}
.m3_l {
	float: left;
	height: 303px;
	width: 420px;
	background-image: url(images/m3_l.jpg);
	background-repeat: no-repeat;
}
.m3_l_tit {
	font-size: 14px;
	line-height: 49px;
	color: #567555;
	height: 49px;
	padding-left: 51px;
}
.m3_l .jj {
	height: 45px;
	margin-top: 9px;
	padding-left: 30px;
	font-size: 14px;
	line-height: 25px;
	padding-right: 30px;
	font-family: "Ó×Ô²";
	color: #567555;
	padding-top: 3px;
}
.m3_l_con {
	height: 190px;
	width: 420px;
}
.m3_l_con ul {
	padding-top: 14px;
	padding-left: 32px;
	font-size: 14px;
}
.m3_l_con li {
	line-height: 24px;
}
.m3_l_con strong {
	color: #318525;
}
.m3_r {
	float: left;
	height: 303px;
	width: 534px;
	margin-left: 16px;
	background-image: url(images/m3_r.jpg);
	background-repeat: no-repeat;
}
.m3_r_tit {
	font-size: 14px;
	line-height: 49px;
	color: #567555;
	height: 49px;
	padding-left: 51px;
}
.m3_r_con ul {
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 20px;
}
.m3_r_con li {
	font-size: 14px;
	line-height: 24px;
}
.m3_r_con strong {
	color: #318525;
}
.main_4 {
	height: 265px;
	width: 970px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.m4_l {
	float: left;
	height: 265px;
	width: 420px;
}
.m4_l_tit {
	background-image: url(images/m4_l_tit.jpg);
	background-repeat: no-repeat;
	height: 35px;
	width: 363px;
	font-size: 14px;
	padding-left: 57px;
	line-height: 30px;
}
.m4_l_tit strong {
	color: #ff6600;
}
.m4_l_con {
	height: 220px;
	width: 420px;
	margin-top: 10px;
	background-color: #49743F;
	color: #FFFFFF;
}
.m4_l_con ul {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.m4_c {
	float: left;
	height: 265px;
	width: 294px;
	padding-left: 18px;
}
.m4_c_tit {
	background-image: url(images/m4_l_tit.jpg);
	background-repeat: no-repeat;
	height: 35px;
	width: 237px;
	font-size: 14px;
	padding-left: 57px;
	line-height: 30px;
}
.m4_c_tit strong {
	color: #ff6600;
}
.m4_c_con {
	height: 220px;
	width: 294px;
	margin-top: 10px;
	background-image: url(images/m4_c_con.jpg);
	background-repeat: no-repeat;
}
.m4_c_con ul {
	padding-left: 36px;
}
.m4_c_con li {
	line-height: 32px;
	font-size: 14px;
	list-style-type: none;
}
.m4_c_con a {
	color: #636363;
}
.m4_r {
	float: left;
	height: 259px;
	width: 221px;
	padding-left: 17px;
}
.main_5 {
	height: 190px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.m_5_tit {
	height: 38px;
	width: 970px;
}
.m_5_cpjg {
	height: 150px;
	width: 968px;
	border: 1px solid #CDDF95;
}
.main_6 {
	height: 500px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.wzdd {
	float: left;
	height: 500px;
	width: 404px;
}
.wzdd_tit {
	height: 22px;
	width: 395px;
}
.dd_list {
	height: 500px;
	width: 395px;
}
.m6_c {
	height: 490px;
	width: 290px;
	float: left;
}
.m6_r {
	float: left;
	height: 500px;
	width: 234px;
	padding-left: 25px;
}
.fh_tit {
	height: 39px;
	width: 234px;
}
.fh_con {
	height: 163px;
	width: 212px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CDE5C3;
	border-left-color: #CDE5C3;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.fh_b {
	height: 14px;
	width: 234px;
}
.wl {
	width: 234px;
	height: 240px;
	margin-top: 14px;
}
.footer {
	width: 870px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #778b8c;
	margin-top: 10px;
	padding-bottom: 30px;
}
.yh {
	text-align: center;
	padding-top: 30px;
	height: 27px;
	width: 870px;
	margin-right: auto;
	margin-left: auto;
}
.bq {
	height: 50px;
	width: 870px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 18px;
	padding-top: 5px;
}
.bq a {
	color: #7DB900;
}
.wm {
	text-align: center;
}
.zf {
	height: 45px;
	width: 870px;
	margin-right: auto;
	margin-left: auto;
}
.zf_img {
	float: left;
	width: 430px;
	text-align: right;
}
.zf_con {
	float: left;
	width: 435px;
	padding-top: 25px;
	font-weight: bold;
	color: #7DB900;
}
.link {
	text-align: center;
	padding-top: 5px;
}
.link a {
	color: #7DB900;
	text-decoration: none;
}
.link a:visited {
	color: #7DB900;
}
