<?xml version="1.0" encoding="UTF-8"?>
<Server port="8025" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.JasperListener"/>
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
  <Service name="Catalina">
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="150" minSpareThreads="4"/>

    <Connector executor="tomcatThreadPool"
               port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"  URIEncoding="UTF8"/>
    <Engine defaultHost="localhost" name="Catalina">
      <Host appBase="wtpwebapps" autoDeploy="true" name="localhost" unpackWARs="true">
      <Context docBase="ttcms" path="/ttcms" reloadable="true" source="org.eclipse.jst.jee.server:ttcms"/></Host>
    </Engine>
  </Service>
</Server>